#quemSomos
	.quemSomos
		//+make-md-column(12)
		margin-top: 30px
		.subTitulo
			font-family: $font-main
			font-size: 30px
			&:after
				content: ""
				display: table
				width: 220px
				height: 3px
				background-color: $secondary-color
		.itemQuemSomos
			+make-sm-column(12)
			+make-md-column(4)
			height: 200px
			background-color: $gray	
			margin-top: 30px
			margin-bottom: 30px
			background-clip: content-box
			&:hover
				background-color: $secondary-color